.card{

background:white;
border-radius:18px;
padding:18px;
margin-bottom:15px;
box-shadow:0 5px 15px rgba(0,0,0,.06);

}

.time{

font-size:14px;
color:#8B5CF6;
font-weight:600;

margin-bottom:8px;

}

.subject{

font-size:20px;
font-weight:600;

}

.noteBox{

width:100%;
margin-top:10px;
padding:12px;
border:none;
background:#F4EEFF;
border-radius:12px;
resize:none;
height:70px;
font-family:Poppins;

}
